<div class="property">
  <div class="summary"><span class="name">{{name}}</span> - <span class="type">{{> types type}}</span></div>
  <div class="description">{{#md}}{{{description}}}{{/md}}</div>
</div>
